.App {
  font-family: sans-serif;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.formula-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formula-content {
  width: 60%;
  border: 1px solid grey;
}
